/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/10/2017, 17:33:16
    Author     : Cliente
*/

html, body {
    height: 100%;
}

.navbar {
    border-radius: 0;
}

.navbar-default * {
    color: #FFF !important;
    cursor: default;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.content-relative {
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    padding: 0 !important;
    height: 100%;
    margin: 0 !important;
}

.content-relative > div {
    height: calc(100% - 100px);
    margin-top: 50px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-container {
    padding: 0 5px;
}

.food-container {
    box-shadow: 0 0 4px #000000;
    border-radius:  0 0 3px 3px;
    margin-top: 14px;
    position: relative;
}

.food-container:last-child {
    margin-bottom: 14px;
}

.food-container > .food-header {
    color: #FFF;
    text-shadow: 0 0 4px #000;
    height: 30vh;
    display: flex;
    align-items: flex-end;
    background-size: cover;
}

.food-container > .food-header > h1 {
    margin: 0;
}

.food-container > .food-body {
    background-color: #ff5722;
    color: #F5F5F5;
}

.food-container > .food-body > .food-item {
    margin-top: 1ch; 
    text-align: justify;
}

.food-container > .food-body > .food-item > p {
    height: 10ch;
    max-height: 10ch;
    overflow: hidden;
    margin: 0;
}

.food-container > .food-header,
.food-container > .food-body {
    padding: 5px;
}

.food-label {
    font-weight: bold;
}

.food-btn-container {
    position: absolute;
    width: 100%;
    text-align: right;
}

.food-btn {
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    opacity: .9;
}

.seeplus-btn-container {
    text-align: center;
    background-color: #d91010;
}

.seeplus-btn {
    width: 100%;
    height: 4ch;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.seeplus-btn,
.seeplus-btn:focus,
.seeplus-btn:hover {
    text-decoration: none;
    transition: .3s ease-in-out;
}

.seeplus-btn:focus,
.seeplus-btn:hover {
    background-color: #FFF;
    color: #000;
}

.navbar-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar-header > .navbar-item {
    width: 33.333333%;
    height: 100%;
}

.navbar-header > .navbar-item > a {
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.navbar-header > .navbar-item > a:hover {
    transition: .3s ease-in-out;
}

.navbar-header > .navbar-item > a:hover,
.active-navbar {
    background-color: rgba(217, 16, 16, 1);
}

.navbar-header > .navbar-item,
.navbar-header > .navbar-item > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-active {
    background-color: rgba(217, 16, 16, 1);
}

.navbar-default,
.default-footer {
    background-color: #FF5722;
    height: 50px;
    box-shadow: 0 0 6px #000;
}

.content-header {
    border-bottom: 6px solid #000;
    border-top: 6px solid #000;
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: rgba(217, 16, 16, 1);
    color: #FFF;
}

.content-header::after,
.content-header::before {
    content: '';
    height: 6px;
    width: 50%;
    background-color: #ff5722;
    z-index: 100;
    position: absolute;
    left: 0;
    animation: slideball 2s infinite alternate ease-in-out;
}
.content-header::after {
    bottom: -6px;
    left: 0;
}

.content-header::before {
    top: -5.5px;
    left: 0;
}

.default-footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-footer > address {
    margin: 0;
    color: #FFF;
}

.invalid-form-input {
    border: 2px solid red;
}

.invalid-text-form {
    color: red
}

::-webkit-scrollbar {
    background-color: #000000;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}



/* KEYFRAMES */

@keyframes slideball {
    0% {
        left: 0px;
    }
    
    100% {
        left: calc(100% - 50%);
    }
}